
@{
    ViewBag.Title = "Mobile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3">


    <section class="hero-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-xs-12 mobile">
                    <div class="header-img wow fadeInUp">
                        <img src="/images/home/Illustration.svg" class="img-fluid dark" alt="Codesdot" />
                        <img src="/images/home/Illustration2.svg" class="img-fluid light" alt="Codesdot" />
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 col-xs-12 head-cont">
                    <div class="header-cont wow fadeInLeft">
                        <h5>Top Rated Web and Mobile Apps Development Company</h5>
                        <h2>We turn your ideas into Reality</h2>
                        <p>Custom-fit IT solutions that suite your every needs</p>
                        <h3 class="typewrite" data-period="2000" data-type='[ "Software Development |", "Website Development |", "Mobile App Development |", "Website Design |" ]'>
                            <span class="wrap"></span>
                        </h3>
                        <a class="header-btn" href="/contact-us">Launch My Dream Project</a>
                    </div>
                    <div class="dots">
                        <div class="dot1"></div>
                        <div class="dot2"></div>
                        <div class="dot3"></div>
                        <div class="dot4"></div>
                        <div class="dot5"></div>
                        <div class="dot6"></div>
                        <div class="dot7"></div>
                    </div>
                </div>
                <div class="col-lg-7 col-sm-12 col-xs-12 desktop">
                    <div class="header-img wow fadeInRight">
                        <img src="/images/home/Illustration.svg" class="img-fluid dark" alt="Codesdot" />
                        <img src="/images/home/Illustration2.svg" class="img-fluid light" alt="Codesdot" />
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="hero-trial">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-sm-1 col-xs-0"></div>
                <div class="col-lg-11 col-sm-11 col-xs-12">
                    <div class="process-main-title wow fadeInUp">
                        <div class="process-title">
                            <h2>We simplify software development process</h2>
                        </div>
                        <div class="sub-title">
                            <h5>About Us</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="divcover-box wow fadeInLeft">
                        <div class="discover-icon">
                            <img src="/images/home/discover.svg" class="img-fluid dark" alt="Codesdot" />
                            <img src="/images/home/discover2.svg" class="img-fluid light" alt="Codesdot" />
                        </div>
                        <div class="dicover-cont">
                            <h5>Discover</h5>
                            <p>
                                Analysis & Documentation, the important steps we adapt to built something awesome, so that you get satisfactory results.
                            </p>
                        </div>
                    </div>
                    <div class="path">
                        <img src="/images/home/Path-1.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="divcover-box divcover-box2 wow fadeInLeft">
                        <div class="discover-icon">
                            <img src="/images/home/design2.svg" class="img-fluid dark" alt="Codesdot" />
                            <img src="/images/home/design3.svg" class="img-fluid light" alt="Codesdot" />
                        </div>
                        <div class="dicover-cont">
                            <h5>Design</h5>
                            <p>Through UI we focus more on making it look visually appealing and more comfortable for the user at an emotional level.</p>
                        </div>
                    </div>
                    <div class="path">
                        <img src="/images/home/Path-2.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="divcover-box wow fadeInRight">
                        <div class="discover-icon">
                            <img src="/images/home/build.svg" class="img-fluid dark" alt="Codesdot" />
                            <img src="/images/home/build2.svg" class="img-fluid light" alt="Codesdot" />
                        </div>
                        <div class="dicover-cont">
                            <h5>Build</h5>
                            <p>We provide solutions with innovative ideas. Our objective is to use the latest technologies and platforms.</p>
                        </div>
                    </div>
                    <div class="path">
                        <img src="/images/home/Path-3.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="divcover-box divcover-box2 wow fadeInRight">
                        <div class="discover-icon">
                            <img src="/images/home/deliver.svg" class="img-fluid dark" alt="Codesdot" />
                            <img src="/images/home/deliver2.svg" class="img-fluid light" alt="Codesdot" />
                        </div>
                        <div class="dicover-cont">
                            <h5>Deliver</h5>
                            <p>We always make sure that the end result that we deliver is able to satisfy your needs and requirements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title process-main-title2 wow fadeInUp">
                        <div class="process-title">
                            <h2>Elegant & Quality Work</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Our Core Services</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">
                    <div class="core-img">
                        <img src="/images/home/core.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box">
                        <div class="card-icon">
                            <img src="/images/home/app.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont">
                            <h5>Mobile Apps</h5>
                            <p>We build intuitive and engaging Android, iOS and cross-platform apps for businesses, consumers and enterprises that end users love and adapt to them very quickly.</p>
                        </div>
                        <div class="card-btn">
                            <a href="/services/mobile-apps-development">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Web card-box2">
                        <div class="card-icon">
                            <img src="/images/home/web.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont">
                            <h5>Web Development</h5>
                            <p>Our web developers create custom web and web application solutions. We deliver web presence to help you grow your business using the best web technologies.</p>
                        </div>
                        <div class="card-btn">
                            <a href="/services/web-application-development">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Design ">
                        <div class="card-icon">
                            <img src="/images/home/design.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont">
                            <h5>UI/UX Design</h5>
                            <p>Starting from concept, information architecture, visual identity and UI/UX design, our team delivers dazzling experiences for maximum user engagement.</p>
                        </div>
                        <div class="card-btn">
                            <a href="/services/ui-ux-design">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-box Software card-box2">
                        <div class="card-icon">
                            <img src="/images/home/software.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="card-cont">
                            <h5>Software Development</h5>
                            <p>Create your own team of developers for your software development project on short term, long term or permanent basis with guaranteed project delivery at affordable prices.</p>
                        </div>
                        <div class="card-btn">
                            <a href="/services/software-development">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elegent">
                <div class="elegent-img">
                    <img src="/images/home/elegent.svg" class="img-fluid" alt="Codesdot" />
                </div>
                <div class="elegent-dot">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-trial">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Modern & <br /> Outstanding Portfolio</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Our Work</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="Portfolio-box wow fadeInLeft">
                        <a href="/portfolio/narmada">
                            <div class="Portfolio-cont">
                                <h5>Narmada IT Asset Management</h5>
                                <p>Narmada is the IT assets management platform Which can be used for Free or Paid client assessments, new Client onboarding.</p>
                            </div>
                            <div class="Portfolio-img text-right">
                                <img src="/images/home/narmada.png" class="img-fluid" alt="Codesdot" />
                            </div>
                            <div class="Portfolio-arrow" style="left: 10%;">
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="Portfolio-box Portfolio-box2 wow fadeInRight">
                        <a href="/portfolio/gdp-impex">
                            <div class="Portfolio-cont">
                                <h5>GDP Impex Business Application</h5>
                                <p>Our app includes large variety of Diamond including New Arrival and fancy diamond.</p>
                            </div>
                            <div class="Portfolio-img text-right">
                                <img src="/images/home/gdp-Impex.png" class="img-fluid" alt="Codesdot" />
                            </div>
                            <div class="Portfolio-arrow" style="left: 10%;">
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="Portfolio-box wow fadeInLeft">
                        <a href="/portfolio/onesaid">
                            <div class="Portfolio-cont">
                                <h5>Onesaid Social Networking App</h5>
                                <p>Join members from across the country to discover new perspectives and read the stories that shaped them.</p>
                            </div>
                            <div class="Portfolio-img text-left">
                                <img src="/images/home/onesaid.png" class="img-fluid" alt="Codesdot" />
                            </div>
                            <div class="Portfolio-arrow" style="right: 10%;">
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="Portfolio-box Portfolio-box2 wow fadeInRight">
                        <a href="/portfolio/medical-device">
                            <div class="Portfolio-cont">
                                <h5>The Medical Device Conference Site</h5>
                                <p>10x Medical Device Conference is the cross-functional event where the medical device industry unites.</p>
                            </div>
                            <div class="Portfolio-img text-left pt-5">
                                <img src="/images/home/the-medical-event.png" class="img-fluid" alt="Codesdot" />
                            </div>
                            <div class="Portfolio-arrow" style="right: 10%;">
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="project-btn">
                        <a class="header-btn" href="/portfolio">See All Projects</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-trial">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 trial-Customer">
                    <div class="trial-cont wow fadeInLeft">
                        <h3>Guaranteed Customer Satisfaction</h3>
                        <h2>We Promise. We Deliver.</h2>
                        <p><span>Have an idea?</span> Work with us and see how it goes. We promise to go the extra mile for every project that we take onboard.</p>

                        <a class="header-btn" href="/contact-us">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="custmer-img wow fadeInRight">
                        <img src="/images/home/customer-satisfaction.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title textimonial-title wow fadeInUp">
                        <div class="process-title">
                            <h2>What our <br /> Clients say about us</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Testimonials</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">
                    <div class="core-img">
                        <img src="/images/home/core.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="core-dot">
                    <div class="elegent-dot homepage">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="elegent-dot homepage-2">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 trial-Customer wow fadeIn testimonial-review">
                    <div class="owl-carousel owl-theme ss_carousel owl-loaded owl-drag" id="slider1">
                        <div class="item d-md-flex d-sm-block">
                            @*<div class="col-md-6 col-sm-12 testimonial-video">
                                <iframe src="https://player.vimeo.com/video/462522801" class="vimeo-video" width="95%" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>*@
                            <div class="col-md-6 col-sm-12 testimonial-cont">
                                <img src="/images/home/qoutes.svg" class="img-fluid" alt="Codesdot" />
                                <p>“ Thank you to Sagar and his team Codesdot. You help me to grow my business and I am not sure to have result without you. Sagar delighted me in every way. ”</p>
                                <h5>Alexander H.</h5>
                                @*<span>MDG Chairman</span>*@
                            </div>
                        </div>
                        <div class="item d-md-flex d-sm-block">
                            @*<div class="col-md-6 col-sm-12 testimonial-video">
                                <iframe src="https://player.vimeo.com/video/462523351" class="vimeo-video" width="95%" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>*@
                            <div class="col-md-6 col-sm-12 testimonial-cont">
                                <img src="/images/home/qoutes.svg" class="img-fluid" alt="Codesdot" />
                                <p>“ Always great working with Codesdot. I highly recommend them. they provided the product just exactly like they promised. It was great working with his team. Very responsive and on top of the task. Would highly recommend them to anyone looking for a great developers. Thanks! ”</p>
                                <h5>Trung T.</h5>
                                @*<span>Project Manager at Smile Grant Program</span>*@
                            </div>
                        </div>
                        <div class="item d-md-flex d-sm-block">
                            @*<div class="col-md-6 col-sm-12 testimonial-video">
                                <iframe src="https://player.vimeo.com/video/462526652" class="vimeo-video" width="95%" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>*@
                            <div class="col-md-6 col-sm-12 testimonial-cont">
                                <img src="/images/home/qoutes.svg" class="img-fluid" alt="Codesdot" />
                                <p>“ They provided good quality code, bugs are resolved quickly, they available for the emergency, and they are flexible to work with. I recommend to work with them to get your application created. ”</p>
                                <h5>Mark A.</h5>
                                @*<span>Founder at Narmada</span>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-trial hero-achivment">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title achivment-title wow fadeInUp">
                        <div class="process-title">
                            <h2>know about <br /> our work and achievements</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Our Achievements</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="achivment-box wow fadeInleft">
                        <div class="achivment-img">
                            <img src="/images/home/achivement-img-1.svg" class="img-fluid dark" alt="Codesdot" />
                            <img src="/images/home/achivement-img-2.png" class="img-fluid light" alt="Codesdot" />
                        </div>
                        <div class="achivment-cont Worked">
                            <h2><span class="stat-number">25245</span></h2>
                            <h5>Hours Worked</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="achivment-box wow fadeInLeft">
                        <div class="achivment-img">
                            <img src="/images/home/achivement-img-2.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="achivment-cont Professionals">
                            <h2><span class="stat-number">150</span></h2>
                            <h5>IT Professionals</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="achivment-box wow fadeInRight">
                        <div class="achivment-img">
                            <img src="/images/home/achivement-img-3.svg" class="img-fluid" alt="Codesdot" />
                        </div>
                        <div class="achivment-cont Clients">
                            <h2><span class="stat-number">200</span></h2>
                            <h5>Happy Clients</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="achivment-box wow fadeInRight">
                        <div class="achivment-img">
                            <img src="/images/home/achivement-img-4.svg" class="img-fluid dark" alt="Codesdot" />
                            <img src="/images/home/achivement-img-4-light.png" class="img-fluid light" alt="Codesdot" />
                        </div>
                        <div class="achivment-cont Completed">
                            <h2><span class="stat-number">350</span></h2>
                            <h5>Projects Completed</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

