<main role="main" class="pb-3">



    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="craft-cont wow fadeInUp">
                        <h2>We Craft Design that Leaves a Lasting Impression.</h2>
                        <p>Simple design is a complex process. We simplify it by focusing on Challenges and Solutions.</p>
                        <a class="header-btn" href="@Url.Action("contactus", "hireus")">Talk to Our Experts</a>
                    </div>
                    <div class="craft-img wow fadeInUp">
                        <img src="../images/craft/craft-header.svg" class="img-fluid" alt="" />
                    </div>
                    <div class="core-img craft-dot craft-dot1">
                        <img src="../images/craft/BGpettarn/bluetri.svg" />
                    </div>
                    <div class="craft-dot craft-dot2">
                        <img src="../images/craft/BGpettarn/Ellipse.svg" />
                    </div>
                    <div class="craft-dot craft-dot3">
                        <img src="../images/craft/BGpettarn/Ellipse1.svg" />
                    </div>
                    <div class="core-img craft-dot craft-dot4">
                        <img src="../images/craft/BGpettarn/Polygon1.svg" />
                    </div>
                    <div class="core-img craft-dot craft-dot5">
                        <img src="../images/craft/BGpettarn/Polygon-1.svg" />
                    </div>
                    <div class="core-img craft-dot craft-dot6">
                        <img src="../images/craft/BGpettarn/Polygon2.svg" />
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="hero-process" id="Research">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="process-main-title mob-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="process-title">
                                    <h2>Why Your <br /> Idea Needs a "Workshop"?</h2>
                                </div>
                                <div class="sub-title">
                                    <h5>Our Core Services</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/craft/design.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>Think of design</h5>
                            <p>Not all requirements are development ready Not all requirements are development ready</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/craft/group.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>Organize for group</h5>
                            <p>Ideas evolve and they need to be constrained in a boundary Ideas evolve and they need</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/craft/thoughts.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>Priorities thoughts</h5>
                            <p>Organize your thoughts for maximum impact Not all requirements are development ready</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/craft/work.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>Goal of work</h5>
                            <p>A quality product must have clearly defined objectives A quality product must has</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/craft/scope.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>Quantify to scope</h5>
                            <p>Deriving scope, for accurate timeline and budget Deriving scope, for accurate timeline</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="workshop-box wow fadeIn">
                        <div class="workshop-icon">
                            <img src="../images/craft/task.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="workshop-cont">
                            <h5>Roadmap of task</h5>
                            <p>Choosing the right technology approach to development Choosing the right tech</p>
                        </div>
                    </div>
                </div>
                <div class="core-img craft-dot craft-dot7">
                    <img src="../images/craft/BGpettarn/bluetri.svg" />
                </div>
                <div class="craft-dot craft-dot8">
                    <img src="../images/craft/BGpettarn/Ellipse.svg" />
                </div>
                <div class="craft-dot craft-dot9">
                    <img src="../images/craft/BGpettarn/Ellipse1.svg" />
                </div>
                <div class="core-img craft-dot craft-dot10">
                    <img src="../images/craft/BGpettarn/Polygon1.svg" />
                </div>
                <div class="core-img craft-dot craft-dot11">
                    <img src="../images/craft/BGpettarn/Polygon2.svg" />
                </div>
            </div>
        </div>
    </section>


    <section class="hero-process" id="Application">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="process-main-title aproch-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="process-title">
                            <h2>Benefits Of Discovery / Design <br /> First Approach</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Our Core Services</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="aproch-boxes wow fadeInLeft">
                        <div class="aproch-box">
                            <div class="aproch-icon">
                                <img src="../images/craft/Strategy.svg" class="img-fluid" alt="" />
                            </div>
                            <div class="aproch-cont">
                                <h5>Strategy</h5>
                                <p>We work with you to identify problems earlier and stay focused on defining core system features to build your dream product</p>
                            </div>
                        </div>
                        <div class="aproch-box">
                            <div class="aproch-icon">
                                <img src="../images/craft/speed.svg" class="img-fluid" alt="" />
                            </div>
                            <div class="aproch-cont">
                                <h5>Speed</h5>
                                <p>Making the most of our engagement with an agile mindset to produce visible results - compared to the traditional way.</p>
                            </div>
                        </div>
                    </div>
                    <div class="aproch-boxes wow fadeInLeft">
                        <div class="aproch-box">
                            <div class="aproch-icon">
                                <img src="../images/craft/lowerrisk.svg" class="img-fluid" alt="" />
                            </div>
                            <div class="aproch-cont">
                                <h5>Lower Risk</h5>
                                <p>Before investing large sum upfront into the entire project and committing in blind, define something that’s sustainable and achievable.</p>
                            </div>
                        </div>
                        <div class="aproch-box">
                            <div class="aproch-icon">
                                <img src="../images/craft/costeffective.svg" class="img-fluid" alt="" />
                            </div>
                            <div class="aproch-cont">
                                <h5>Cost Effective</h5>
                                <p>We work with you to define minimum launchable product so that you can prioritize investments for better ROI, allowing you to focus on growth.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="aproch-img wow fadeInRight">
                        <img src="../images/craft/aproch-img.svg" class="img-fluid white-img" alt="" />
                        <img src="../images/craft/aproch-dark-img.png" class="img-fluid dark-img" alt="" />
                    </div>
                </div>
            </div>
            <div class="core-img craft-dot craft-dot7">
                <img src="../images/craft/BGpettarn/bluetri.svg" />
            </div>
            <div class="craft-dot craft-dot8">
                <img src="../images/craft/BGpettarn/Ellipse.svg" />
            </div>
            <div class="craft-dot craft-dot9">
                <img src="../images/craft/BGpettarn/Ellipse1.svg" />
            </div>
        </div>
    </section>


    <section class="hero-process" id="Game">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="process-main-title mob-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="process-title">
                                    <h2>Target Audience, <br /> Market and the Problem</h2>
                                </div>
                                <div class="sub-title">
                                    <h5>Our Core Services</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row markt-row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="aproch-img wow fadeInLeft">
                        <img src="../images/craft/market.svg" class="img-fluid white-img" alt="" />
                        <img src="../images/craft/market-dark-img.png" class="img-fluid dark-img" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInRight">
                    <div class="market-cont">
                        <h5>Market Analysis</h5>
                        <p>Review what's already been done by similar solutions in the market and elevate the experience</p>
                    </div>
                    <div class="market-cont">
                        <h5>Requirements</h5>
                        <p>Identify core needs and vision of the solution with elaborated brainstorming sessions</p>
                    </div>
                    <div class="market-cont">
                        <h5>Conceptualisation</h5>
                        <p>Identify core business problem to be solved keeping end-users at the center</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft">
                    <div class="market-cont">
                        <h5>Mindmap</h5>
                        <p>Designing information architecture with key modules and activities in a logical hierarchy</p>
                    </div>
                    <div class="market-cont">
                        <h5>User Journeys</h5>
                        <p>Heuristic analysis of user behavior by working backward to design elements that users anticipate</p>
                    </div>
                    <div class="market-cont">
                        <h5>Wireframe</h5>
                        <p>Conceptual block-based representation to uncover visual representation of key information elements</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="aproch-img wow fadeInRight">
                        <img src="../images/craft/mindmap.svg" class="img-fluid white-img" alt="" />
                        <img src="../images/craft/mindmap-dark-img.png" class="img-fluid dark-img" alt="" />
                    </div>
                </div>
            </div>
            <div class="core-img craft-dot craft-dot7">
                <img src="../images/craft/BGpettarn/bluetri.svg" />
            </div>
            <div class="craft-dot craft-dot8">
                <img src="../images/craft/BGpettarn/Ellipse.svg" />
            </div>
            <div class="craft-dot craft-dot9">
                <img src="../images/craft/BGpettarn/Ellipse1.svg" />
            </div>
            <div class="craft-dot craft-dot10">
                <img src="../images/craft/BGpettarn/Ellipse1.svg" />
            </div>
            <div class="craft-dot craft-dot11">
                <img src="../images/craft/BGpettarn/Ellipse1.svg" />
            </div>
        </div>
    </section>


    <section class="hero-portfolio" id="Layout">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="process-main-title aproch-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="process-title">
                            <h2>UI / UX Design <br /> Interface & Visuals</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Our UI UX DESIGN</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="interface-box wow fadeIn">
                        <div class="interface-icon">
                            <img src="../images/craft/interface.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="interface-cont">
                            <h5>Interface</h5>
                            <p>Surgically crafting beautiful pixels to create a visually appealing interface of relevant screens</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="interface-box Digital-box wow fadeIn">
                        <div class="interface-icon">
                            <img src="../images/craft/digitalexperiance.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="interface-cont">
                            <h5>Digital Experience</h5>
                            <p>Creating a functional design by carefully orchestrating interface, information, and interaction</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="interface-box Objective-box wow fadeIn">
                        <div class="interface-icon">
                            <img src="../images/craft/objective.svg" class="img-fluid" alt="" />
                        </div>
                        <div class="interface-cont">
                            <h5>Objective Design</h5>
                            <p>Creating a design that not only looks stunning but also sticks to solving the core of the problem</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="craft-dot craft-dot7">
                <img src="../images/craft/BGpettarn/Ellipse1.svg" />
            </div>
            <div class="craft-dot craft-dot8">
                <img src="../images/craft/BGpettarn/Ellipse1.svg" />
            </div>
            <div class="craft-dot craft-dot9">
                <img src="../images/craft/BGpettarn/Ellipse1.svg" />
            </div>
        </div>
    </section>
</main>