<main role="main" class="pb-3">



    <section class="hero-process hero-enterprise honey-export section-1" id="cust-dev">
        <img class="img-fluid dot-design-1" src="../images/about/Repeat-Grid.svg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft">
                    <div class="enterprize-cont honey-cont">
                        <h2>MillionHands</h2>
                        <p class="sub-title">Business</p>
                        <p>MillionHands is one of the leading diamond manufacturing companies with a focus on leveraging state-of-the-art technologies to advance the purchase, distribution, and delivery process for wholesales diamond buyers.</p>
                    </div>
                    <div class="core-img core-image-design">
                        <img src="../images/home/core.svg" class="img-fluid" alt="Codesdot">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="enterprize-img wow fadeInRight">
                        <img src="../images/Millonhands/header-image.png" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-process hero-ecomerce honey-export section-2" id="desk-dev">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-6 col-sm-12 col-xs-12 trial-Customer">
                    <img class="img-fluid pattern-1" src="../images/honey-export/pattern-1.svg" />
                    <div class="enterprize-img wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <img src="../images/Millonhands/about-project.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="enterprize-cont honey-cont-title">
                        <h2>About Project</h2>
                        <p>MillionHands sources 100% of its rough diamonds from trusted extensive networks of diamond miners and turn it to the meticulously handcrafted and exceptionally cut diamond.</p>
                        <p>MillionHands leverage the most innovative technologies for efficient transaction processes with the flavour of the latest machineriesmixed with the expertise of their certified specialists.</p>
                    </div>
                </div>
            </div>
            <div class="Ecommerce-bg"></div>
        </div>
    </section>

    <section class="hero-process hero-enterprise honey-export section-3" id="cust-dev">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft">
                    <div class="enterprize-cont honey-cont-title">
                        <h2>Features</h2>
                        <p></p>
                    </div>
                    <div class="enterprize-list pb-5">
                        <ul>
                            <li><a>User-Friendly</a></li>
                            <li><a>Mobile-Friendly Website</a></li>
                            <li><a>High-Resolution Photos & Video</a></li>
                            <li><a>Wish Lists</a></li>
                        </ul>
                        <ul>
                            <li><a>Multi Category Filter</a></li>
                            <li><a>Payment Gateway</a></li>
                            <li><a>Effective Check out process</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="enterprize-img wow fadeInRight">
                        <img src="../images/Millonhands/Features.png" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
            <div class="enterprize-bg"></div>
        </div>
    </section>

    <section class="hero-process honey-export section-4">
        <div class="container">
            <img class="img-fluid dot-design-2" src="../images/about/Repeat-Grid.svg">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12 px-0">
                    <div class="process-main-title textimonial-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="process-title">
                            <h2>Our Best <br /> Website Development</h2>
                        </div>
                        <div class="sub-title">
                            <h5>our Project</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="honey-export section-5 mt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 project-img-1 mb-4">
                    <div class="honey-data-project">
                        <div class="honey-logo">
                            <img class="img-fluid w-50" src="../images/Millonhands/logo.png" />
                        </div>
                        <div class="honey-title">
                            <h2>BUSINESS</h2>
                        </div>
                        <div class="honey-image-1 mb-0">
                            <img class="img-fluid" src="../images/Millonhands/image1.png" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 project-img-2 mb-4">
                    <div class="row">
                        <div class="col-12 honey-image-2">
                            <img class="img-fluid" src="../images/Millonhands/image1.png" />
                        </div>
                        <div class="col-12 honey-image-3">
                            <img class="img-fluid" src="../images/Millonhands/image2.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="next-proj">
                        <a class="header-btn" href="@Url.Action("Narmada", "portfolio")">Next Project</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-portfolio honey-export section-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-sm-12 col-xs-12">
                    <div class="award-content">
                        <h3>- Our Project</h3>
                        <h2>Ready to start a Project?</h2>
                        <p>To start, use form below to tell us about you and the project</p>
                    </div>
                </div>
                <div class="col-lg-1 core-img core-image-design-2">
                    <img src="../images/home/core.svg" class="img-fluid" alt="Codesdot">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="apply-form">
                        <form name="form-portfolio" id="form-portfolio" method="post">
                            <div class="apply-box">
                                <div class="apply-input">
                                    <div class="input_box">
                                        <input type="text" class="input-apply input_fild" id="FirstName" placeholder="First Name" name="FirstName" autocomplete="off">
                                    </div>
                                    <div class="input_box">
                                        <input type="text" class="input-apply input_fild" id="LastName" placeholder="Last Name" name="LastName" autocomplete="off">
                                    </div>
                                </div>
                                <div class="apply-input">
                                    <div class="input_box_2">
                                        <input type="email" class="input-apply input-apply2" id="EmailId" placeholder="Email Address" name="EmailId" autocomplete="off">
                                    </div>
                                </div>
                                <div class="apply-input">
                                    <div class="input_box_2">
                                        <input type="tel" class="input-apply input-apply2" id="ContactNumber" autocomplete="off" placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" name="ContactNumber">
                                    </div>
                                </div>
                                <div class="apply-input">
                                    <div class="input_box_2">
                                        <textarea class="input-apply input-apply2 message" id="Message" placeholder="Message" name="Message"></textarea>
                                    </div>
                                </div>                                
                                </div>
                                <div class="apply-btn">
                                    <button type="button" class="apply-button" id="btn-submit">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span id="span-submit">Get Started</span>
                                            <div id="btn-loader" style="display:none;">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     style=" margin-left: 10px; background: rgba(241, 242, 243, 0); display: block;" width="19px" height="19px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                                    <circle cx="50" cy="50" r="37" stroke="rgba(70, 223, 240, 0)" stroke-width="0" fill="none"></circle>
                                                    <circle cx="50" cy="50" r="37" stroke="#babdd8" stroke-width="8" stroke-linecap="round" fill="none">
                                                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;180 50 50;720 50 50" keyTimes="0;0.5;1"></animateTransform>
                                                        <animate attributeName="stroke-dasharray" repeatCount="indefinite" dur="1s" values="65.09379978238051 167.38405658326417;232.4778563656447 0;65.09379978238051 167.38405658326417" keyTimes="0;0.5;1"></animate>
                                                    </circle>
                                                </svg>

                                            </div>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 trial-Customer">
                    <div class="aproch-img wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                        <img src="../images/honey-export/our-project-img.svg" class="img-fluid light" alt="">
                        <img src="../images/honey-export/our-project-img.png" class="img-fluid dark" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Portfolio.js"></script>