
@{
    ViewBag.Title = "Flutterdeveloper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main role="main" class="pb-3">

    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-md-12 col-xs-12">
                    <div class="award-content wow fadeInLeft">
                        <h3>Find the most exciting startup jobs</h3>
                        <h2>Flutter Developer</h2>
                        <p>Codesdot is looking for right candidate to fill open position to work as Flutter Developer. If you want to become part of our awesome Team, apply now.</p>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 main-access">
                    <div class="award-img  wow fadeInRight">
                        <img src="../../../images/Career/career.png" class="img-fluid light" alt="" />
                        <img src="../../../images/Career/career-dark.png" class="img-fluid dark" alt="" />
                    </div>
                    <img class="img-fluid main-ad main-ad1" src="../../../images/about/Repeat-Grid.svg" />
                </div>

            </div>
        </div>
    </section>


    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="process-main-title mob-title wow fadeInUp">
                        <div class="process-title">
                            <h2>Job <br />Description</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Ingredients</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="aproch-boxes job-data wow fadeInLeft">
                        <div class="aproch-cont">
                            <h5>Requirements</h5>
                            <p>Design and build advanced applications for the Android platform using Flutter.</p>
                            <p>Manage API integration with Rest full API.</p>
                            <p>Collaborate with cross-functional teams to define, design, and ship new features.</p>
                            <p>Work with outside data sources and APIs.</p>
                            <p>Work on bug fixing and improving application performance.</p>
                            <p>Participate in the entire application life cycle, focusing on coding and debugging.</p>
                        </div>
                    </div>
                    <div class="aproch-boxes job-data wow fadeInLeft">
                        <div class="aproch-cont">
                            <h5>Abilities</h5>
                            <p>Smart, self-motivated, responsible and out of the box thinker.</p>
                            <p>Detail oriented and powerful analyzer.</p>
                            <p>Great writing communication skills.</p>
                            <p>A motivated self-starter with strong leadership skills</p>
                        </div>
                    </div>
                    <div class="aproch-boxes job-data wow fadeInLeft">
                        <div class="aproch-cont">
                            <h5>Responsibilities</h5>
                            <p>Translate designs and wireframes into high quality code.</p>
                            <p>Design, build, and maintain high performance, reusable, and reliable Java code.</p>
                            <p>Ensure the best possible performance, quality, and responsiveness of the application.</p>
                            <p>Identify and correct bottlenecks and fix bugs.</p>
                            <p>Help maintain code quality, organization, and automatization.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 trial-Customer align-items-start">
                    <div class="row">
                        <div class="col-lg-12 mb-5">
                            <div class="aproch-img wow fadeInRight">
                                <img src="../../../images/Career/wordpress-header.png" class="img-fluid" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row job_tag">
                                <div class="aproch-boxes job-data wow fadeInLeft col-6">
                                    <div class="aproch-cont" style="background-color:#f5e5ff;">
                                        <h5>Vacancy</h5>
                                        <p>2 Positions</p>
                                    </div>
                                </div>
                                <div class="aproch-boxes job-data wow fadeInLeft col-6">
                                    <div class="aproch-cont" style="    background-color: #E6F5FF;">
                                        <h5>Location</h5>
                                        <p>Surat, Gujarat</p>
                                    </div>
                                </div>
                                <div class="aproch-boxes job-data wow fadeInLeft col-6">
                                    <div class="aproch-cont" style="background-color:#e4f7e0;">
                                        <h5>Qualification</h5>
                                        <p>BE/B.Tech(CE/IT/CS), M.Sc.(IT/ICT/CA/CS), ME/M.Tech(CE/IT/CS), B.Sc.(IT/ICT/CA/CS), MCA, BCA</p>
                                    </div>
                                </div>

                                <div class="aproch-boxes job-data wow fadeInLeft col-6">
                                    <div class="aproch-cont" style="background-color:#fff2e5;">
                                        <h5>Experience</h5>
                                        <p>1 to 3  Years</p>
                                    </div>
                                </div>
                                <div class="aproch-boxes job-data wow fadeInLeft col-6">
                                    <div class="aproch-cont" style="    background-color: #fbf2d5;">
                                        <h5>Job Type</h5>
                                        <p>Full-time, Contract</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero-portfolio">
        <div class="apply-gried">
            <img src="../../../images/craft/RepeatGrid.svg" class="img-fluid" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-xs-12">
                    <div class="award-content">
                        <h3>- Submit your resume</h3>
                        <h2>Apply For Job</h2>
                        <p>Prepare a PDF for your resume and fill the following form. We will contact you as soon as possible.</p>
                    </div>
                    <div class="apply-form">
                        <input type="hidden" value="10" id="FileId" />

                        <form name="form-apply-job" id="form-apply-job">
                            <div class="apply-box">
                                <div class="apply-input">
                                    <div class="input_box">
                                        <input type="text" class="input-apply input_fild" id="FirstName" placeholder="First Name" name="FirstName" autocomplete="off" />
                                    </div>
                                    <div class="input_box">
                                        <input type="text" class="input-apply input_fild" id="LastName" placeholder="Last Name" name="LastName" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="apply-input">
                                    <div class="input_box">
                                        <input type="email" class="input-apply input_fild" id="EmailId" placeholder="Email Address" name="EmailId" autocomplete="off" />
                                    </div>
                                    <div class="input_box">
                                        <input type="tel" class="input-apply input_fild" id="PhoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone Number" name="PhoneNumber" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="apply-input">
                                    <div class="input_box_2">
                                        <input type="text" class="input-apply input-apply2" id="Location" placeholder="Current Location" name="Location" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="apply-input">
                                    <div class="input_box_2">
                                        <input type="text" class="input-apply input-apply2" id="LinkedInProfile" placeholder="LinkedIn Profile" name="LinkedInProfile" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="apply-input">
                                    <div class="input_box_2">
                                        <textarea class="input-apply input-apply2" id="AboutYourSelf" placeholder="Say something about yourself" name="AboutYourSelf"></textarea>
                                    </div>
                                </div>
                                <div class="apply-input attach">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div id="div-file-attachment" class="input-group-btn">
                                                <span id="span-attach-resume">Attach Resume</span>
                                                <div class="input_box_2">
                                                    <input type="file" class="upload" name="ResumeFile" id="file-attachment" />
                                                </div>
                                            </div>
                                            <input type="text" class="form-control border-0 ml-3" readonly>
                                            <span class="align-items-center d-flex">
                                                Allowed format:<b class="px-1"> DOC & PDF</b>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="apply-btn">
                                    <button type="submit" class="apply-button" id="btn-submit">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <span id="span-submit">Submit</span>
                                            <div id="btn-loader" style="display:none;">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     style=" margin-left: 10px; background: rgba(241, 242, 243, 0); display: block;" width="19px" height="19px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                                    <circle cx="50" cy="50" r="37" stroke="rgba(70, 223, 240, 0)" stroke-width="0" fill="none"></circle>
                                                    <circle cx="50" cy="50" r="37" stroke="#babdd8" stroke-width="8" stroke-linecap="round" fill="none">
                                                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;180 50 50;720 50 50" keyTimes="0;0.5;1"></animateTransform>
                                                        <animate attributeName="stroke-dasharray" repeatCount="indefinite" dur="1s" values="65.09379978238051 167.38405658326417;232.4778563656447 0;65.09379978238051 167.38405658326417" keyTimes="0;0.5;1"></animate>
                                                    </circle>
                                                </svg>

                                            </div>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>



                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 col-xs-12 trial-Customer">
                    <div class="aproch-img wow fadeInRight">
                        <img src="../../../images/Career/contact.png" class="img-fluid light" alt="" />
                        <img src="../../../images/Career/contact-dark.png" class="img-fluid dark" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

