
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="">


    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-md-12 col-xs-12">
                    <div class="award-content wow fadeInLeft">
                        <h3>Award-winning Offshore Devlopment Company Since 2001</h3>
                        <h2>Our Treasure comprises Our People, Vision & Values</h2>
                        <p>Codesdot is not only a globally recognized IT company but also a family filled with talented Expert that help global brands, enterprises, mid-size businesses or even startups with innovative solutions.</p>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 main-access">
                    <div class="award-img  wow fadeInRight">
                        <img class="img-fluid" src="~/images/about/header-img.svg" />
                    </div>
                    <img class="img-fluid main-ad main-ad1" src="~/images/about/Repeat-Grid.svg" />
                </div>

            </div>
        </div>
    </section>


    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="choosetitle-content">
                        <h2>Why choose us?</h2>
                        <p>There is too any reasons, bellows only best reasons.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="box wow fadeInUp">
                        <img class="img-fluid light" src="~/images/about/Discover.svg" alt="Codesdot" />
                        <img src="~/images/home/discover.svg" class="img-fluid dark" alt="Codesdot">
                        <h2>Discover</h2>
                        <p>Countries 146 agency <br />took our services</p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="box wow fadeInUp">
                        <img class="img-fluid light" src="~/images/about/Design.svg" alt="Codesdot" />
                        <img src="~/images/home/design2.svg" class="img-fluid dark" alt="Codesdot">
                        <h2>Design</h2>
                        <p>1000+ Design project <br /> is completed</p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="box wow fadeInUp">
                        <img class="img-fluid" src="~/images/about/Project.svg" />
                        <h2>Project</h2>
                        <p>Satisfied clients from <br />all around the world</p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="box wow fadeInUp">
                        <img class="img-fluid" src="~/images/about/Achievement.svg" />
                        <h2>Achievement</h2>
                        <p>Many achievement won <br />our company</p>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="mission-content wow fadeInLeft">
                        <h3>Our Mission</h3>
                        <h2>Mission of greatness</h2>
                        <p class="pp1">Our enthusiasm to delivering various industry-led mobility solutions in web and mobile application development domains and expand our IT solution portfolio which cover almost all the technologies available nowadays in the market.</p>
                        <p class="pp2">We feel empowered with our certified tech experts and our R&D team who have always challenged themselves to help global clientele with a plethora of IT services and solutions. Engagement with our team guarantees our clients to save huge money on project development with faster delivery.</p>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="mission-img wow fadeInRight">                         
                        <img class="img-fluid" src="~/images/about/about-us.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-process hero-greatness">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="whatweare-img wow fadeInLeft">
                        <img class="img-fluid light" src="~/images/about/what-we-are.svg" alt="codesdot" />
                        <img class="img-fluid dark" src="~/images/about/what-we-are-2.png" alt="codesdot" />
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="mission-content wow fadeInRight">
                        <h2>What we are</h2>
                        <p class="pp1">Codesdot is not an entity, it’s a family that represents togetherness for over two decades of a successful journey. For Codesdot, the definition of success is to transcend innovative ideas of people to reality with the help of our tech expertise, this is what we, as a Team, want to be remembered for! </p>
                        <p class="pp2">Our vision has led Codesdot to become a top IT company in India & USA for delivering various industry-led mobility solutions. The goal is to empower clients and businesses by creating new possibilities leveraging the technologies of today and tomorrow with the utmost quality, satisfaction, and transparency.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-process hero-enterprise">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 trial-Customer wow fadeInLeft">
                    <div class="clinet-box">
                        <div class="enterprize-cont">
                            <h2>We're here to<br /> help you</h2>
                        </div>

                        <div class="user-boxes">
                            <div class="userbox">
                                <div class="user-img">
                                    <img src="~/images/about/user1.svg" class="img-fluid" alt="" />
                                </div>
                                <div class="user-cont">
                                    <h5>For New client <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></h5>
                                    <p>Friendly and knowledgeable floks are available to call you.</p>
                                </div>
                            </div>
                            <div class="userbox">
                                <div class="user-img">
                                    <img src="~/images/about/a1.svg" class="img-fluid" alt="" />
                                </div>
                                <div class="user-cont">
                                    <h5>Existing client <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></h5>
                                    <p>We are happy to work again and privde ongoing support.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="enterprize-img wow fadeInRight">
                        <img src="~/images/about/aa2.png" class="img-fluid" alt="" />
                        <div class="leaf">
                            <img src="~/images/webdevelop/leaf.svg" class="img-fluid" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="enterprize-bg client-bg"></div>
        </div>
    </section>


    <section class="hero-mobile-counter conterspace">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="counter-boxes wow fadeIn">
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr1"><span class="stat-number">1</span>k+</div>
                            <div class="counter-cont"><span>Software <br /> Delivered</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr2"><span class="stat-number">550</span>+</div>
                            <div class="counter-cont"><span>Our Happy <br /> Clients</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr3"><span class="stat-number">220</span>+</div>
                            <div class="counter-cont"><span>Fortune <br /> Companies Clients</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr4"><span class="stat-number">12</span>+</div>
                            <div class="counter-cont"><span>Years of <br /> Experience</span></div>
                        </div>
                        <div class="counter-box">
                            <div class="counter-nmbr counter-nmbr5"><span class="stat-number">100</span>%</div>
                            <div class="counter-cont"><span>Satisfaction</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="hero-process">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 col-xs-12">
                    <div class="process-main-title textimonial-title wow fadeInUp">
                        <div class="process-title">
                            <h2>What our <br /> Clients say about us</h2>
                        </div>
                        <div class="sub-title">
                            <h5>Testimonials</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-1 col-xs-0">
                    <div class="core-img">
                        <img src="~/images/home/core.svg" class="img-fluid" alt="Codesdot" />
                    </div>
                </div>
            </div>
            <div class="row">
               
                <div class="col-lg-12 col-sm-12 col-xs-12 trial-Customer wow fadeIn testimonial-review">
                    <div class="owl-carousel owl-theme ss_carousel owl-loaded owl-drag" id="slider1">
                        <div class="item d-md-flex d-sm-block">
                            @*<div class="col-md-6 col-sm-12 testimonial-video">
                                <iframe src="https://player.vimeo.com/video/462522801" class="vimeo-video" width="95%" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>*@
                            <div class="col-md-6 col-sm-12 testimonial-cont">
                                <img src="~/images/home/qoutes.svg" class="img-fluid" alt="Codesdot" />
                                <p>“  Thank you to Sagar and his team Codesdot. You help me to grow my business and I am not sure to have result without you. Sagar delighted me in every way. ”</p>
                                <h5>Alexander H.</h5>
                                @*<span>MDG Chairman</span>*@
                            </div>
                        </div>
                        <div class="item d-md-flex d-sm-block">
                            @*<div class="col-md-6 col-sm-12 testimonial-video">
                                <iframe src="https://player.vimeo.com/video/462523351" class="vimeo-video" width="95%" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>*@
                            <div class="col-md-6 col-sm-12 testimonial-cont">
                                <img src="~/images/home/qoutes.svg" class="img-fluid" alt="Codesdot" />
                                <p>“ Always great working with Codesdot. I highly recommend them. they provided the product just exactly like they promised. It was great working with his team. Very responsive and on top of the task. Would highly recommend them to anyone looking for a great developers. Thanks! ”</p>
                                <h5>Trung T.</h5>
                                @*<span>Project Manager at Smile Grant Program</span>*@
                            </div>
                        </div>
                        <div class="item d-md-flex d-sm-block">
                            @*<div class="col-md-6 col-sm-12 testimonial-video">
                                <iframe src="https://player.vimeo.com/video/462526652" class="vimeo-video" width="95%" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>*@
                            <div class="col-md-6 col-sm-12 testimonial-cont">
                                <img src="~/images/home/qoutes.svg" class="img-fluid" alt="Codesdot" />
                                <p>“ They provided good quality code, bugs are resolved quickly, they available for the emergency, and they are flexible to work with. I recommend to work with them to get your application created. ”</p>
                                <h5>Mark A.</h5>
                                @*<span>Founder at Narmada</span>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
